/* Configurações globais */
* {
    font-family: 'Roboto', sans-serif;
}

body,
html {
    width: 100%;
    overflow-x: hidden;
}

/* <------ Header ------> */
nav {
    display: flex;
    justify-content: space-between;
}

#logo {
    text-decoration: none;
    align-self: center;
    font-size: 3em;
    font-weight: 700;
    margin-left: 0.5em;
    color: #000;
}

#navbar-small {
    display: none;
}

#logo span {
    font-style: italic;
    color: #D6000D;
}

#navbar ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-right: 2em;
    padding: 0;
}

#navbar li {
    margin: 15px;
    margin-left: 2em;
}

#navbar li a {
    text-decoration: none;
    font-size: 1.3em;
    color: #000;
}

#navbar li button {
    border-radius: 12px;
    width: 150px;
    height: 40px;
    background-color: #D6000D;
    border: none;
    color: #FFF;
    font-size: 0.8em;
}

#navbar li button:hover {
    cursor: pointer;
    background-color: #86030c;
    transition: 0.5s all;
}

/* <------ Conteudo global ------> */
main {
    width: 100%;
    margin: 0 auto;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    margin: 0 auto 2em auto;
}

/* <------ First Section ------> */
#image-first-section {
    margin-left: 7em;
}

#first-section img {
    max-width: 450px;
}

#budget-section {
    margin-left: 6em;
    margin-top: 3em;
}

#first-section h1 {
    font-size: 2em;
}

#budget-section button {
    background-color: #D6000D;
    color: #FFF;
    font-size: 1.5em;
    border: none;
    border-radius: 12px;
    width: 350px;
    height: 50px;
    margin-top: 1em;
}

#budget-section button:hover {
    cursor: pointer;
    background-color: #86030c;
    transition: 0.5s all;
}

/* <------ Second Section ------> */
#second-section {
    margin-top: 8em;
    margin-bottom: 0.5em;
}

#second-section ul {
    list-style-type: none;
    font-size: 1.8em;
    margin-left: 2em;
}

#second-section ul li {
    margin: 1em;
}


#second-section .fa-solid {
    color: #D6000D;
}

#second-section img {
    max-width: 450px;
}

#image {
    margin-left: 6em;
}

/* <------ Third Section ------> */
#third-section div {
    margin-left: 8em;
}

#third-section h3 {
    font-size: 1.5em;
    margin-bottom: 0.3em;
}

#third-section input {
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 250px;
    padding-left: 2em;
    background-color: #e3e3e3;
}

#third-section button {
    margin-left: 0.2em;
    border: none;
    border-radius: 12px;
    height: 50px;
    width: 250px;
    background-color: #D6000D;
    color: #FFF;
}

#third-section button:hover {
    cursor: pointer;
    background-color: #86030c;
    transition: 0.5s all;
}

/* <------ Forth Section ------> */
#forth-section {
    margin-top: 8em;
    margin-bottom: 3em;
}

#forth-section .comments-section {
    width: 80%;
    height: 90%;
    background-color: #e3e3e3;
    border-radius: 12px;
    margin-bottom: 0.5em;
}

#forth-section .red-circle {
    margin: 1.5em;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: red;
}

#forth-section .comments-description {
    width: 100%;
    margin: 0.8em 1.8em 1.3em 0;
}

#forth-section .comments-description p {
    padding-top: 10px;
    width: 90%;
    font-size: 1.2em;
    margin: 0;
    display: inline-block;
    margin-bottom: 0.5em;
}

#forth-section .comments-description h3,
h5 {
    margin: 0;
}

/* <------ Footer ------> */
.grid-container-footer {
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 0;
    padding: 3em 2em 4em 2em;
}

footer {
    background-color: #000;
    color: #FFF;
}

footer h1 {
    margin: 0;
    font-size: 2.5em;
}

#footer-third-div a {
    color: #FFF;
}

#footer-third-div a:hover {
    color: #D6000D;
}

#footer-third-div a:active {
    color: #86030c;
}


#footer-forth-div i {
    margin: 0.2em;
}

#footer-forth-div .fa-brands {
    color: #D6000D;
}